.pagination {
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active {
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid black;
}

.pagination a:hover:not(.active) {
    background-color: blue;
    border-radius: 50%;
    border: 2px solid black;
    transition: 0.3s;
}
