*{
    padding: 0;
    margin: 0;
}

main{
    background-image: url("assets/img/bg.jpg");
    height: 80vh;
}

main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background: black;
}