@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaina+2:wght@600&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Matemasie&family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stylish&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --color: white;
    --black: black;
}

body {
    background-color: var(--black);
    font-family: "Stylish", serif;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0 55px 0;
}

.article {
    font-size: 40px;
    color: var(--color);
}

nav {
    border: 2px solid aliceblue;
    width: 30em;
    transform: translate(90%);
    border-radius: 10px;
    padding: 7px 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

ul li {
    list-style: none;
    padding: 20px 0;
}

ul li a {
    text-decoration: none;
    color: var(--color);
    font-size: 25px;
    padding: 0 20px;
}

.tittle-container {
    transform: translate(18%);
}

.tittle-container h1,
h2,
p {
    color: var(--color);
}

.tittle-container h2 {
    font-size: 48px;
}

.tittle-container h1 {
    font-size: 60px;
}

.tittle-container p {
    font-size: 20px;
    font-size: 20px;
    transform: translateX(16%);
    border: 2px solid var(--color);
    width: 13em;
    text-align: center;
    padding: 6px 0;
    border-radius: 4px;
}