@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaina+2:wght@600&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Matemasie&family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stylish&display=swap');

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

/* ::selection {
    background: rgba(13, 194, 226, 0.959);
    color: white;
} */

:root {
    --color: white;
    --black: black;
}

body {
    font-family: "Stylish", serif;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px 0 15px; */
    border: 2px solid black;
    top: 20px;
    position: relative;
    width: 90%;
    left: 61px;
    border-radius: 20px;
    overflow: hidden;
}

.number1 {
    position: absolute;
    left: 201px;
    font-size: 19px;
    top: 42px;
}

.number2 {
    position: absolute;
    left: 362px;
    font-size: 19px;
    top: 42px;
}

.number3 {
    position: absolute;
    left: 510px;
    font-size: 19px;
    top: 42px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 27px;
    font-size: 27px;
    padding: 10px 40px 35px 25px;
    border-right: 2px solid black;
    position: relative;
    bottom: 13px;
    right: 32px;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.responsive-wrapper {
    position: relative;
    top: 70px;
    left: 12px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sidebar-menu li {
    width: 100%;
}

.sidebar-menu li a {
    border: none;
    width: 100%;
    font-weight: bold;
}

.menu-btn1 i {
    font-size: 30px;
    position: absolute;
    top: 18px;
    display: none;
}

.menu-btn2 i {
    font-size: 30px;
    position: absolute;
    top: 18px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 28px;
    background: #f2ff41;
    border-right: 2px solid black;
    height: 70px;
}

.logo i {
    font-size: 40px;
    overflow: hidden;
}

.single-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 36em;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 95px;
    gap: 8px;
}

.social-links i {
    font-size: 25px;
}

.social-links span {
    width: 40px;
    border: 2px solid var(--black);
    border-radius: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links span:nth-child(3) {
    background: var(--black);
}

.fa-instagram {
    color: var(--color);
}

.text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 21px;
    gap: 5px;
    font-size: 20px;
}

.text span:nth-child(2) {
    width: 25px;
    border: 2px solid var(--black);
    border-radius: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

.head {
    padding: 90px 0 40px;
}

.head h1 {
    font-size: 60px;
    width: 29%;
    font-weight: bold;
}

.head h1 span {
    border: 2px solid black;
    border-radius: 40px;
    padding: 0 10px;
}

.content {
    width: 40%;
}

main {
    padding: 0 0 0 60px;
    position: absolute;
}

.circle-arrow i {
    font-size: 75px;
    position: absolute;
    transform: rotate(-130deg);
    bottom: 0px;
    left: 7.6em;
    transition: .5s;
}

.circle-arrow i:hover {
    transform: rotate(-30deg);
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    border-radius: 20px;
    border: 1px solid black;
    /* overflow: hidden; */
}

.box1 {
    right: 442px;
    display: flex;
    align-items: end;
    justify-content: end;
    background: var(--color);
    overflow: hidden;
}

.box2 {
    right: 240px;
    background-color: white;
    overflow: hidden;
}

.box3 {
    right: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box4 {
    top: 302px;
    right: 442px;
    background: #d5d0d0;
    overflow: hidden;
}

.box5 {
    top: 302px;
    right: 240px;
    background-color: black;
}

.box6 {
    top: 302px;
    right: 38px;
    background-color: black;
}

.box7 {
    top: 504px;
    right: 442px;
    overflow: hidden;
}

.box8 {
    top: 504px;
    right: 240px;
    background-color: #d5d0d0;
}

.box9 {
    top: 504px;
    right: 38px;
    background-color: #f2ff41;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box91 {
    width: 170px;
    height: 170px;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
}

.dot-91 {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: 25px;
}

.logo-2 {
    font-size: 85px;
    position: absolute;
    top: 35px;
    left: 20px;
}

.half-circle {
    width: 250px;
    height: 250px;
    background: #f2ff41;
    border-top-left-radius: 73%;
    position: absolute;
    left: 30px;
    top: 11px;
}

.half-circle i {
    position: absolute;
    font-size: 95px;
    top: 75px;
    left: 42px;
}

.second-half-circle {
    width: 175px;
    height: 165px;
    background: var(--color);
    border-bottom-left-radius: 100%;
    position: absolute;
    left: 31px;
    top: 0px;
}

.second-half-circle i {
    position: absolute;
    font-size: 90px;
    top: 48px;
    left: 25px;
}

.left-eye {
    width: 45px;
    height: 95px;
    background: var(--color);
    display: block;
    position: absolute;
    left: 40px;
    top: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid black;
}

.right-eye {
    width: 45px;
    height: 95px;
    background: var(--color);
    display: block;
    position: absolute;
    left: 110px;
    top: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid black;
}

.eye-ball-left {
    display: block;
    width: 35px;
    height: 50px;
    background: black;
    position: absolute;
    bottom: 16px;
    border-radius: 100%;
    left: 27px;
    clip-path: polygon(-28.57% 6%, 100% 0%, 274.29% 1%, 343.57% 99%, 149.29% 144%, -41.44% 87.00%, 25.72% 53%);
}

.eye-ball-right {
    display: block;
    width: 35px;
    height: 50px;
    background: black;
    position: absolute;
    bottom: 16px;
    border-radius: 100%;
    left: 27px;
    clip-path: polygon(-28.57% 6%, 100% 0%, 274.29% 1%, 343.57% 99%, 149.29% 144%, -41.44% 87.00%, 25.72% 53%);
}

.eye-line {
    width: 45px;
    height: 1px;
    display: block;
    background: black;
    position: absolute;
    top: 21px;
}

.eye-fill {
    display: block;
    width: 42px;
    height: 21px;
    background-color: #cecdcd;
}

.time-circle {
    position: absolute;
    top: -65px;
    left: -65px;
}

.timer {
    position: absolute;
}

.fa-clock {
    font-size: 130px;
    background: white;
    border-radius: 100%;
}

.d3-box {
    width: 225px;
    height: 225px;
    background-color: #f2ff41;
    position: absolute;
    transform: rotateX(30deg) rotateY(60deg);
    right: 272px;
    top: 80%;
    border-radius: 27px 10px 25px 30px;
    border: 2px solid black;
    z-index: 9;
}

.d3-box2 {
    width: 220px;
    height: 220px;
    background-color: #f2ff41;
    position: absolute;
    transform: rotateX(30deg) rotateY(60deg);
    right: 276px;
    top: 81%;
    border-radius: 27px 10px 25px 30px;
    border: 2px solid black;
    z-index: 10;
}

.d3-circle {
    width: 125px;
    height: 125px;
    background: black;
    position: absolute;
    right: 318px;
    top: 92%;
    z-index: 15;
    transform: rotateX(30deg) rotateY(60deg);
    border: 1px solid black;
    border-radius: 100%;
}

.d3-circle2 {
    width: 125px;
    height: 125px;
    background: #f2ff41;
    position: absolute;
    right: 323px;
    top: 92%;
    z-index: 14;
    transform: rotateX(30deg) rotateY(60deg);
    border: 1px solid black;
    border-radius: 100%;
}

.d3-circle3 {
    width: 125px;
    height: 125px;
    background: black;
    position: absolute;
    right: 483px;
    top: 136%;
    z-index: 15;
    transform: rotateX(-130deg) rotateY(0deg);
    border: 1px solid black;
    border-radius: 100%;
}

.d3-circle4 {
    width: 125px;
    height: 125px;
    background: #f2ff41;
    position: absolute;
    right: 483px;
    top: 135%;
    z-index: 14;
    transform: rotateX(-133deg) rotateY(0deg);
    border: 1px solid black;
    border-radius: 100%;
}

.box6 h3 {
    color: white;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 12px;
    left: 6px;
}

.fa-bitcoin {
    position: absolute;
    top: 34px;
    right: 101px;
    font-size: 50px;
    transform: rotateX(57deg) rotateY(13deg);
}

.bitcoin2 {
    font-size: 35px;
    position: absolute;
    right: -15px;
    top: 62px;
    z-index: 1;
    transform: rotateX(40deg) rotateY(-22deg);
}

.bitcoin3 {
    font-size: 42px;
    position: absolute;
    right: 11px;
    top: 95px;
    z-index: 1;
    transform: rotateX(-42deg) rotateY(-9deg);
}

.line {
    display: block;
    width: 44px;
    height: 4px;
    background: linear-gradient(yellow, #ffcb00, #caca1f);
    position: absolute;
    right: -20px;
    bottom: 24px;
    border-radius: 4px;
    transform: rotate(35deg);
    z-index: 1;
}

.line2 {
    display: block;
    width: 36px;
    height: 4px;
    background: linear-gradient(yellow, #ffcb00, #caca1f);
    position: absolute;
    right: 50px;
    bottom: 44px;
    border-radius: 4px;
    transform: rotate(-35deg);
    z-index: 1;
}

.emoji1 {
    position: absolute;
    color: white;
    font-size: 35px;
    top: 162px;
    z-index: 2;
    left: 36px;
}

.emoji2 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 38px;
    z-index: 2;
    right: 192px;
}

.emoji3 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 48px;
    z-index: 2;
    right: 71px;
}

.emoji4 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: -57px;
    z-index: 15;
    right: 381px;
}

.emoji5 {
    position: absolute;
    color: #000;
    font-size: 35px;
    bottom: -105px;
    z-index: 19;
    right: 445px;
}

.emoji6 {
    position: absolute;
    color: #000;
    font-size: 35px;
    bottom: -157px;
    z-index: 19;
    right: 490px;
}

.emoji7 {
    position: absolute;
    color: #fff;
    font-size: 35px;
    bottom: -234px;
    z-index: 19;
    right: 527px;
}

.tooltip-icon1 img {
    position: absolute;
    bottom: 42px;
    width: 52%;
    right: 100px;
}

.tooltip-icon2 img {
    position: absolute;
    top: 117px;
    width: 65%;
    left: 70px;
}

.tooltip-text {
    position: absolute;
    bottom: 33px;
    font-size: 30px;
    right: 30px;
}

.small-card-container {
    position: relative;
    top: 56px;
}

.small-card1 {
    width: 235px;
    height: 235px;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
}

.small-card2 {
    width: 235px;
    height: 235px;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    left: 265px;
}

.small-card-icon {
    position: absolute;
    left: 40px;
    top: 63px;
}

.small-card-icon {
    font-size: 70px;
}

.fa-fingerprint {
    position: relative;
    left: 23px;
}

.fa-circle {
    position: relative;
    right: 23px;
}

.small-card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
}

.arrow-icon1 {
    font-size: 20px;
    position: absolute;
    bottom: 16px;
    right: 15px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 0 4px;
}

.small-card2 h1 {
    width: 98%;
    position: absolute;
    left: 25px;
    top: 25px;
}

.small-card-content2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
}

.arrow-icon2 {
    font-size: 20px;
    position: absolute;
    bottom: 16px;
    right: 15px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 0 4px;
    background: black;
    color: white;
}

.sepration-line1 {
    width: 95%;
    height: 2px;
    background: black;
    position: absolute;
    top: 55em;
    left: 30px;
}

.sepration-line2 {
    width: 95%;
    height: 2px;
    background: black;
    position: absolute;
    top: 58.5em;
    left: 30px;
}

.middel-container h2 {
    position: absolute;
    top: 37.2em;
    left: 30px;
}

.middel-container h1 {
    font-size: 23px;
    position: absolute;
    top: 38.7em;
    right: 37px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px 8px;
}

.fa-1 {
    position: absolute;
    font-size: 24px;
    top: 37em;
    left: 400px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 4px 9px;
    background: black;
    color: white;
}

.bottom-header {
    position: absolute;
    top: 60em;
    width: 53%;
    left: 29px;
}

.bottom-line {
    width: 38%;
    height: 2px;
    background: black;
    position: absolute;
    top: 61.9em;
    right: 115px;
}

.flower-icon {
    font-size: 40px;
    position: absolute;
    top: 24.2em;
    right: 36px;
}

.option-container {
    position: relative;
    top: 41em;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}

.option1,
.option2,
.option3,
.option4,
.option5,
.option6,
.option7,
.option8 {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 13px;
}

.option1 {
    position: relative;
    left: 2px;
    background: black;
    color: white;
    transform: rotate(14deg);
}

.option2 {
    position: relative;
    right: 15px;
    transform: rotate(-6deg);
    bottom: 5px;
    background-color: white;
}

.option3 {
    position: relative;
    right: 32px;
    transform: rotate(10deg);
    background: white;
    bottom: 4px;
}

.option4 {
    position: relative;
    right: 50px;
    transform: rotate(-6deg);
    bottom: 4px;
    background-color: white;
}

.option5 {
    position: relative;
    right: 66px;
    transform: rotate(10deg);
    background: white;
}

.option6 {
    position: relative;
    right: 82px;
    transform: rotate(-6deg);
    top: 8px;
    background-color: white;
}

.option7 {
    position: relative;
    right: 98px;
    transform: rotate(10deg);
    background: white;
    top: 12px;
}

.option8 {
    position: relative;
    right: 115px;
    transform: rotate(-10deg);
    background: white;
    top: 14px;
}

.card-container {
    position: relative;
    top: 68em;
    display: flex;
    justify-content: space-around;
}

.card1 {
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.card-top {
    display: flex;
    padding: 15px 15px;
}

.card-name1 {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px 16px;
    z-index: 1;
}

.card-icon1 {
    position: relative;
    left: 45%;
    font-size: 25px;
    background: black;
    color: white;
    border-radius: 100%;
    padding: 3px 8px;
}

.card-decsription {
    position: relative;
    bottom: 6px;
    padding: 0 6px;
    font-size: 18px;
}

.card-img img {
    width: 300px;
    position: relative;
    bottom: 20%;
    left: 40px;
}

.card2 {
    width: 400px;
    height: 400px;
    background: #f2ff41;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.card-top2 {
    display: flex;
    padding: 15px 15px;
}

.card-name2 {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px 16px;
    z-index: 1;
}

.card-icon2 {
    position: relative;
    left: 35%;
    font-size: 25px;
    background: black;
    color: white;
    border-radius: 100%;
    padding: 3px 8px;
}

.card-decsription2 {
    position: relative;
    bottom: 50px;
    padding: 0 6px;
    font-size: 18px;
}

.card-img2 {
    position: relative;
    bottom: 10%;
    left: 100px;
}

.card-img2 img {
    width: 200px;
}

.card3 {
    width: 400px;
    height: 400px;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.card-top3 {
    display: flex;
    padding: 15px 15px;
}

.card-name3 {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px 16px;
    z-index: 1;
    background: white;
    color: black;
}

.card-icon3 {
    position: relative;
    left: 34%;
    font-size: 25px;
    background: white;
    color: black;
    border-radius: 100%;
    padding: 3px 8px;
    border: 1px solid black;
    transform: rotate(-30deg);
}

.card-decsription3 {
    position: relative;
    top: 234px;
    padding: 0 6px;
    font-size: 18px;
}

.card-img3 {
    position: absolute;
    top: 24%;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img3 i {
    position: absolute;
    font-size: 100px;
}

.card-img3 img {
    width: 300px;
}

/*------------ RESPONSIVE DESGIN --------------*/
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    main {
        position: relative;
    }

    .menu-btn1 i {
        display: block;
    }

    .head {
        padding: 65px 0 40px;
    }

    .social-links {
        display: none;
    }

    .nav-container {
        left: 15px;
    }

    .fa-bars-staggered {
        position: absolute;
        right: 100px;
        top: 15px;
    }

    .head h1 {
        width: auto;
        z-index: 1;
        position: relative;
        font-size: 50px;
    }

    .content {
        width: 85%;
        z-index: 1;
        position: relative;
    }

    .circle-arrow i {
        left: 202px;
        top: 165px;
    }

    .box-container {
        position: relative;
        z-index: 99;
        top: 502px;
        right: -22px;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 115px;
        height: 115px;
    }

    .box1 {
        right: 271px;
    }

    .box2 {
        right: 155px;
    }

    .box3 {
        right: 39px;
    }

    .box4 {
        top: 216px;
        right: 271px;
    }

    .box5 {
        top: 216px;
        right: 155px;
    }

    .box6 {
        top: 216px;
        right: 39px;
    }

    .box7 {
        top: 332px;
        right: 272px;
    }

    .box8 {
        top: 332px;
        right: 156px;
    }

    .box9 {
        top: 333px;
        right: 40px;
    }

    .box91 {
        width: 108px;
        height: 108px;
    }

    .box6 h3 {
        font-size: 30px;
        line-height: 24px;
        top: 7px;
        left: 15px;
    }

    .dot-91 {
        width: 10px;
        height: 10px;
        top: 20px;
        left: 15px;
    }

    .d3-circle3 {
        width: 80px;
        height: 80px;
        position: relative;
        right: 288px;
        top: 357px;
    }

    .d3-circle4 {
        width: 80px;
        height: 80px;
        right: 288px;
        top: 354px;
    }

    .logo-2 {
        font-size: 61px;
        top: 15px;
        left: 5px;
    }

    .half-circle {
        width: 162px;
        height: 162px;
        left: 30px;
        top: 11px;
    }

    .second-half-circle {
        width: 95px;
        height: 115px;
    }

    .half-circle i {
        font-size: 60px;
        top: 42px;
        left: 40px;
    }

    .left-eye {
        width: 30px;
        height: 70px;
        left: 22px;
        top: 22px;
    }

    .right-eye {
        width: 30px;
        height: 70px;
        left: 65px;
        top: 22px;
    }

    .eye-ball-left {
        width: 18px;
        height: 30px;
        bottom: 12px;
        left: 12px;
    }

    .eye-ball-right {
        width: 18px;
        height: 30px;
        bottom: 12px;
        left: 12px;
    }

    .time-circle {
        top: -42px;
        left: -42px;
    }

    .fa-clock {
        font-size: 80px;
    }

    .bitcoin1 {
        top: 17px;
        right: 47px;
        font-size: 40px;
    }

    .bitcoin2 {
        font-size: 28px;
        right: -15px;
        top: 36px;
    }

    .bitcoin3 {
        font-size: 32px;
        right: 20px;
        top: 77px;
    }

    .emoji1 {
        font-size: 26px;
        top: 86px;
    }

    .emoji2 {
        font-size: 26px;
        bottom: 17px;
        right: 96px;
    }

    .emoji3 {
        font-size: 26px;
        bottom: 25px;
        right: 31px;
    }

    .emoji4 {
        font-size: 28px;
        top: 284px;
        right: 235px;
    }

    .emoji5 {
        font-size: 28px;
        top: 305px;
        right: 272px;
    }

    .emoji6 {
        color: #000;
        font-size: 28px;
        top: 336px;
        right: 302px;
    }

    .emoji7 {
        font-size: 28px;
        top: 378px;
        right: 324px;
    }

    .line {
        width: 30px;
        bottom: 13px;
    }

    .line2 {
        width: 30px;
    }

    .d3-box {
        width: 140px;
        height: 140px;
        right: 164px;
        top: 234px;
    }

    .d3-box2 {
        width: 132px;
        height: 132px;
        right: 171px;
        top: 238px;
    }

    .d3-circle {
        width: 85px;
        height: 85px;
        position: absolute;
        top: 260px;
        right: 195px;
        transform: rotateX(16deg) rotateY(60deg);
    }

    .d3-circle2 {
        width: 85px;
        height: 85px;
        position: absolute;
        top: 260px;
        right: 200px;
        transform: rotateX(16deg) rotateY(60deg);
    }

    .tooltip-icon2 img {
        top: 68px;
        width: 59%;
        left: 48px;
    }

    .tooltip-icon1 img {
        bottom: 9px;
        right: 58px;
    }

    .tooltip-text {
        bottom: 17px;
        font-size: 20px;
        right: 11px;
    }

    .second-half-circle i {
        font-size: 60px;
        top: 10px;
        left: 15px;
    }

    .small-card-container {
        position: relative;
        top: 1em;
        z-index: 1;
    }

    .small-card1 {
        width: 336px;
        height: 235px;
        left: -42px;
    }

    .small-card2 {
        width: 336px;
        height: 235px;
        left: -42px;
        top: 16em;
    }

    .option-container {
        top: 90em;
        left: 15px;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 88%;
    }

    .option1 {
        transform: rotate(0);
        bottom: 15px;
        left: 3px;
    }

    .option2 {
        transform: rotate(0);
        bottom: 15px;
        left: 8px;
    }

    .option3 {
        transform: rotate(0);
        bottom: 8px;
        left: 5px;
    }

    .option4 {
        transform: rotate(0);
        bottom: 8px;
        left: 8px;
    }

    .option5 {
        transform: rotate(0);
        bottom: 2px;
        left: 5px;
    }

    .option6 {
        transform: rotate(0);
        top: -2px;
        left: 8px;
    }

    .option7 {
        transform: rotate(0);
        top: 4px;
        right: -5px;
    }

    .option8 {
        transform: rotate(0);
        top: 5px;
        right: -8px;
    }

    .sepration-line1 {
        top: 90em;
        width: 95%;
        left: 8px;
    }

    .sepration-line2 {
        top: 95em;
        left: 8px;
    }

    .middel-container h1 {
        top: 73.2em;
        font-size: 20px;
        right: 12px;
    }

    .middel-container h2 {
        top: 61em;
        left: 7px;
    }

    .fa-1 {
        position: absolute;
        font-size: 20px;
        top: 73.2em;
        left: 130px;
    }

    .flower-icon {
        top: 30.5em;
        left: 15px;
    }

    .bottom-line {
        display: none;
    }

    .bottom-header {
        top: 76em;
        width: 70%;
        left: 100px;
    }

    .bottom {
        position: relative;
        bottom: 12em;
    }

    .card-container {
        top: 82em;
        left: 12px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .small-card-icon {
        position: absolute;
        left: 65px;
        top: 38px;
        font-size: 90px;
    }

    .small-card2 h1 {
        width: 60%;
    }

    .card1 {
        width: 350px;
        height: 350px;
        position: relative;
    }

    .card2 {
        width: 350px;
        height: 350px;
        position: relative;
    }

    .card3 {
        width: 350px;
        height: 350px;
        position: relative;
    }

    .card-name1 {
        font-size: 16px;
    }

    .card-name2 {
        font-size: 16px;
    }

    .card-name3 {
        font-size: 16px;
    }

    .card-img img {
        width: 215px;
        position: relative;
        bottom: 5%;
        left: 66px;
    }

    .card-img2 {
        bottom: 6%;
    }

    .card-img2 img {
        width: 134px;
    }

    .card-img3 img {
        width: 234px;
    }

    .card-img3 {
        top: 30%;
    }

    .card-img3 i {
        font-size: 76px;
    }

    .card-decsription2 {
        bottom: 15px;
    }
}