@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaina+2:wght@600&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Matemasie&family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stylish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Stylish", serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    width: 86%;
    position: absolute;
    top: 17px;
    left: 80px;
    border-radius: 20px;
    height: 12%;
    overflow: hidden;
}

nav {
    position: relative;
    right: 215px;
    bottom: 3px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
    border-right: 1px solid black;
    padding: 10px 24px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 27px;
}

.logo {
    position: relative;
    right: 78px;
    display: flex;
    background: #f2ff41;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    height: 80px;
    border-right: 1px solid black;
}

.logo i {
    font-size: 40px;
    overflow: hidden;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    right: 40px;
}

.icons i {
    font-size: 25px;
    overflow: hidden;
}

.icon1,
.icon2,
.icon3,
.icon4 {
    width: 41px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-icon {
    position: absolute;
}

.text {
    font-size: 20px;
    display: flex;
    gap: 5px;
    position: absolute;
    right: 20px;
}

.text span:nth-child(2) {
    width: 25px;
    border: 2px solid black;
    border-radius: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

.number1 {
    position: relative;
    left: 56px;
    font-size: 20px;
}

.number2 {
    position: relative;
    left: 90px;
    font-size: 20px;
}

.number3 {
    position: relative;
    left: 48px;
    font-size: 20px;
}

.main h1 {
    font-size: 60px;
    width: 32%;
    font-weight: bold;
    padding: 150px 0 0 80px;
}

.main h1 span {
    border: 2px solid black;
    border-radius: 40px;
    padding: 0 10px;
}

.content {
    width: 40%;
    padding: 30px 0 0 80px;
}

.circle-arrow i {
    font-size: 75px;
    position: relative;
    transform: rotate(-130deg);
    bottom: 100px;
    left: 560px;
    overflow: hidden;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    border-radius: 20px;
    border: 1px solid black;
    /* overflow: hidden; */
}

.box1 {
    right: 442px;
    top: 165px;
    display: flex;
    align-items: end;
    justify-content: end;
    background: var(--color);
    overflow: hidden;
}

.box2 {
    top: 165px;
    right: 243px;
    background-color: white;
    overflow: hidden;
}

.box3 {
    top: 165px;
    right: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box4 {
    top: 364px;
    right: 442px;
    background: #d5d0d0;
    overflow: hidden;
}

.box5 {
    top: 364px;
    right: 243px;
    background-color: black;
}

.box6 {
    top: 364px;
    right: 44px;
    background-color: black;
    overflow: hidden;
}

.box7 {
    top: 563px;
    right: 442px;
    overflow: hidden;
}

.box8 {
    top: 563px;
    right: 243px;
    background-color: #d5d0d0;
    overflow: hidden;
}

.box9 {
    top: 563px;
    right: 44px;
    background-color: #f2ff41;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box91 {
    width: 170px;
    height: 170px;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
}

.dot-91 {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: 25px;
}

.logo2 i {
    font-size: 85px;
    position: absolute;
    top: 60px;
    left: 45px;
    overflow: hidden;
}

.half-circle {
    width: 250px;
    height: 250px;
    background: #f2ff41;
    border-top-left-radius: 73%;
    position: absolute;
    left: 30px;
    top: 11px;
}

.half-circle i {
    position: absolute;
    font-size: 95px;
    top: 75px;
    left: 42px;
    overflow: hidden;
}

.second-half-circle {
    width: 175px;
    height: 165px;
    background: white;
    border-bottom-left-radius: 100%;
    position: absolute;
    left: 31px;
    top: 0px;
}

.second-half-circle i {
    position: absolute;
    font-size: 90px;
    top: 48px;
    left: 25px;
    overflow: hidden;
}

.left-eye {
    width: 45px;
    height: 95px;
    background: var(--color);
    display: block;
    position: absolute;
    left: 40px;
    top: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid black;
}

.right-eye {
    width: 45px;
    height: 95px;
    background: var(--color);
    display: block;
    position: absolute;
    left: 110px;
    top: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid black;
}

.eye-ball-left {
    display: block;
    width: 35px;
    height: 50px;
    background: black;
    position: absolute;
    bottom: 16px;
    border-radius: 100%;
    left: 27px;
    clip-path: polygon(-28.57% 6%, 100% 0%, 274.29% 1%, 343.57% 99%, 149.29% 144%, -41.44% 87.00%, 25.72% 53%);
}

.eye-ball-right {
    display: block;
    width: 35px;
    height: 50px;
    background: black;
    position: absolute;
    bottom: 16px;
    border-radius: 100%;
    left: 27px;
    clip-path: polygon(-28.57% 6%, 100% 0%, 274.29% 1%, 343.57% 99%, 149.29% 144%, -41.44% 87.00%, 25.72% 53%);
}

.eye-line {
    width: 45px;
    height: 1px;
    display: block;
    background: black;
    position: absolute;
    top: 21px;
}

.eye-fill {
    display: block;
    width: 42px;
    height: 21px;
    background-color: #cecdcd;
}

.fa-clock {
    font-size: 130px;
    background: white;
    border-radius: 100%;
}

.d3-box {
    width: 225px;
    height: 225px;
    background-color: #f2ff41;
    position: absolute;
    transform: rotateX(30deg) rotateY(60deg);
    right: 275px;
    top: 62%;
    border-radius: 27px 10px 25px 30px;
    border: 2px solid black;
    z-index: 9;
}

.d3-box2 {
    width: 220px;
    height: 220px;
    background-color: #f2ff41;
    position: absolute;
    transform: rotateX(30deg) rotateY(60deg);
    right: 280px;
    top: 63%;
    border-radius: 27px 10px 25px 30px;
    border: 2px solid black;
    z-index: 10;
}

.d3-circle {
    width: 125px;
    height: 125px;
    background: black;
    position: absolute;
    right: 332px;
    top: 70%;
    z-index: 15;
    transform: rotateX(16deg) rotateY(60deg);
    border: 1px solid black;
    border-radius: 100%;
}

.d3-circle2 {
    width: 125px;
    height: 125px;
    background: #f2ff41;
    position: absolute;
    right: 336px;
    top: 70%;
    z-index: 14;
    transform: rotateX(16deg) rotateY(60deg);
    border: 1px solid black;
    border-radius: 100%;
}

.d3-circle3 {
    width: 125px;
    height: 125px;
    background: black;
    position: absolute;
    right: 483px;
    top: 100%;
    z-index: 15;
    transform: rotateX(-130deg) rotateY(0deg);
    border: 1px solid black;
    border-radius: 100%;
}

.d3-circle4 {
    width: 125px;
    height: 125px;
    background: #f2ff41;
    position: absolute;
    right: 483px;
    top: 99.5%;
    z-index: 14;
    transform: rotateX(-133deg) rotateY(0deg);
    border: 1px solid black;
    border-radius: 100%;
}

.box6 h3 {
    color: white;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 12px;
    left: 6px;
}

.fa-bitcoin {
    position: absolute;
    top: 34px;
    right: 101px;
    font-size: 50px;
    transform: rotateX(57deg) rotateY(13deg);
    overflow: hidden;
}

.bitcoin2 {
    font-size: 35px;
    position: absolute;
    right: -15px;
    top: 62px;
    z-index: 1;
    transform: rotateX(40deg) rotateY(-22deg);
}

.bitcoin3 {
    font-size: 42px;
    position: absolute;
    right: 11px;
    top: 95px;
    z-index: 1;
    transform: rotateX(-42deg) rotateY(-9deg);
    overflow: hidden;
}

.clock {
    position: absolute;
}

.clock i {
    overflow: hidden;
}

.line {
    display: block;
    width: 44px;
    height: 4px;
    background: linear-gradient(yellow, #ffcb00, #caca1f);
    position: absolute;
    right: -20px;
    bottom: 24px;
    border-radius: 4px;
    transform: rotate(35deg);
    z-index: 1;
}

.line2 {
    display: block;
    width: 36px;
    height: 4px;
    background: linear-gradient(yellow, #ffcb00, #caca1f);
    position: absolute;
    right: 50px;
    bottom: 44px;
    border-radius: 4px;
    transform: rotate(-35deg);
    z-index: 1;
}

.emoji1 {
    position: absolute;
    color: white;
    font-size: 35px;
    top: 162px;
    z-index: 2;
    left: 36px;
}

.emoji2 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 100px;
    z-index: 2;
    right: 226px;
}

.emoji3 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 48px;
    z-index: 2;
    right: 71px;
}

.emoji4 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 90px;
    z-index: 15;
    right: 386px;
}

.emoji5 {
    position: absolute;
    color: #000;
    font-size: 35px;
    bottom: 43px;
    z-index: 19;
    right: 451px;
}

.emoji6 {
    position: absolute;
    color: #000;
    font-size: 35px;
    bottom: -10px;
    z-index: 19;
    right: 500px;
}

.emoji7 {
    position: absolute;
    color: #fff;
    font-size: 35px;
    bottom: -85px;
    z-index: 19;
    right: 537px;
}

.tooltip-icon1 img {
    position: absolute;
    bottom: 42px;
    width: 52%;
    right: 100px;
}

.tooltip-icon2 img {
    position: absolute;
    top: 117px;
    width: 65%;
    left: 70px;
}

.tooltip-text {
    position: absolute;
    bottom: 33px;
    font-size: 30px;
    right: 30px;
}

.small-card-container {
    display: flex;
    position: relative;
    left: 70px;
    top: -37px;
}

.small-card1 {
    width: 235px;
    height: 235px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.small-card2 {
    width: 235px;
    height: 235px;
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(194, 194, 194);
    overflow: hidden;
    position: relative;
    left: 20px;
}

.fa-fingerprint {
    overflow: hidden;
    position: relative;
    left: 40px;
}

.fa-circle {
    overflow: hidden;
    position: relative;
    right: 8px;
}

.small-card2 h1 {
    width: 98%;
    position: relative;
    left: 12px;
    top: 40px;
}

.small-card-icon {
    position: relative;
    font-size: 70px;
    top: 65px;
    left: 25px;
}

.small-card-content {
    font-size: 18px;
    position: relative;
    top: 100px;
    left: 20px;
}

.arrow-icon1 {
    font-size: 20px;
    position: relative;
    top: 100px;
    left: 85px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 2px 4px;
}

.arrow-icon1 i {
    margin: -2px 0;
}

.small-card-content2 {
    font-size: 18px;
    position: relative;
    top: 115px;
    left: 20px;
}

.arrow-icon2 {
    font-size: 20px;
    position: relative;
    top: 115px;
    left: 85px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 2px 4px;
    background: black;
    color: white;
}

.arrow-icon2 i {
    margin: -2px 0;
}

@media (max-width: 700px) {
    header {
        left: 22px;
    }

    .icons {
        display: none;
    }

    .text span {
        overflow: hidden;
    }

    .single-icon {
        right: 100px;
    }

    nav {
        display: none;
    }

    .logo {
        right: 120px;
    }

    .main h1 {
        font-size: 50px;
        width: 100%;
        font-weight: bold;
        padding: 150px 0 0 58px;
    }

    .content {
        width: 100%;
        padding: 30px 0 0 58px;
    }

    .circle-arrow i {
        position: absolute;
        bottom: 90px;
        left: 255px;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 115px;
        height: 115px;
    }

    .box1 {
        top: 148%;
        right: 243px;
    }

    .box2 {
        top: 148%;
        right: 129px;
    }

    .box3 {
        top: 148%;
        right: 15px;
    }

    .box4 {
        top: 165%;
        right: 243px;
    }

    .box5 {
        top: 165%;
        right: 129px;
    }

    .box6 {
        top: 165%;
        right: 15px;
    }

    .box7 {
        top: 182%;
        right: 244px;
    }

    .box8 {
        top: 182%;
        right: 130px;
    }

    .box9 {
        top: 182%;
        right: 15px;
    }

    .d3-box {
        width: 140px;
        height: 140px;
        right: 139px;
        top: 167%;
    }

    .d3-circle {
        width: 85px;
        height: 85px;
        right: 168px;
        top: 171%;
        transform: rotateX(20deg) rotateY(60deg);
    }

    .d3-circle2 {
        width: 85px;
        height: 85px;
        right: 172px;
        top: 171%;
        transform: rotateX(20deg) rotateY(60deg);
    }

    .d3-box2 {
        width: 132px;
        height: 132px;
        right: 145px;
        top: 168%;
    }

    .d3-circle3 {
        width: 80px;
        height: 80px;
        right: 260px;
        top: 186%;
    }

    .d3-circle4 {
        width: 80px;
        height: 80px;
        right: 260px;
        top: 185.5%;
    }

    .box91 {
        width: 100px;
        height: 100px;
    }

    .half-circle {
        width: 162px;
        height: 162px;
        left: 30px;
        top: 11px;
    }

    .second-half-circle {
        width: 95px;
        height: 115px;
    }

    .small-card-container {
        display: grid;
        position: relative;
        left: 0px;
        top: 10%;
        gap: 20px;
    }

    .small-card1 {
        width: 336px;
        height: 235px;
        position: relative;
        left: 12px;
    }

    .small-card2 {
        width: 336px;
        height: 235px;
        position: relative;
        left: 12px;
    }

    .small-card2 h1 {
        width: 64%;
    }

    .fa-fingerprint {
        font-size: 90px;
    }

    .fa-circle {
        font-size: 90px;
    }

    .small-card-icon {
        position: relative;
        top: 30px;
        left: 30px;
    }

    .small-card-content {
        top: 80px;
    }

    .arrow-icon1 {
        top: 80px;
        left: 175px;
    }

    .arrow-icon2 {
        left: 195px;
    }

    .arrow-icon2 i {
        margin: -4px 0;
    }
}