@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaina+2:wght@600&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Matemasie&family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stylish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Stylish", serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    width: 86%;
    position: absolute;
    top: 17px;
    left: 80px;
    border-radius: 20px;
    height: 12%;
    overflow: hidden;
}

nav {
    position: relative;
    right: 215px;
    bottom: 3px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
    border-right: 1px solid black;
    padding: 10px 24px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 27px;
}

.logo {
    position: relative;
    right: 78px;
    display: flex;
    background: #f2ff41;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    height: 80px;
    border-right: 1px solid black;
}

.logo i {
    font-size: 40px;
    overflow: hidden;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    right: 40px;
}

.icons i {
    font-size: 25px;
    overflow: hidden;
}

.icon1,
.icon2,
.icon3,
.icon4 {
    width: 41px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-icon {
    position: absolute;
}

.text {
    font-size: 20px;
    display: flex;
    gap: 5px;
    position: absolute;
    right: 20px;
}

.text span:nth-child(2) {
    width: 25px;
    border: 2px solid black;
    border-radius: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

.number1 {
    position: relative;
    left: 56px;
    font-size: 20px;
}

.number2 {
    position: relative;
    left: 90px;
    font-size: 20px;
}

.number3 {
    position: relative;
    left: 48px;
    font-size: 20px;
}

.main h1 {
    font-size: 60px;
    width: 32%;
    font-weight: bold;
    padding: 150px 0 0 80px;
}

.main h1 span {
    border: 2px solid black;
    border-radius: 40px;
    padding: 0 10px;
}

.content {
    width: 40%;
    padding: 30px 0 0 80px;
}

.circle-arrow i {
    font-size: 75px;
    position: relative;
    transform: rotate(-130deg);
    bottom: 100px;
    left: 560px;
    overflow: hidden;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    border-radius: 20px;
    border: 1px solid black;
}

.box1 {
    right: 442px;
    top: 165px;
    display: flex;
    align-items: end;
    justify-content: end;
    background: var(--color);
    overflow: hidden;
}

.box2 {
    top: 165px;
    right: 243px;
    background-color: white;
    overflow: hidden;
}

.box3 {
    top: 165px;
    right: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box4 {
    top: 364px;
    right: 442px;
    background: #d5d0d0;
    overflow: hidden;
}

.box5 {
    top: 364px;
    right: 243px;
    background-color: black;
}

.box6 {
    top: 364px;
    right: 44px;
    background-color: black;
    overflow: hidden;
}

.box7 {
    top: 563px;
    right: 442px;
    overflow: hidden;
}

.box8 {
    top: 563px;
    right: 243px;
    background-color: #d5d0d0;
    overflow: hidden;
}

.box9 {
    top: 563px;
    right: 44px;
    background-color: #f2ff41;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box91 {
    width: 170px;
    height: 170px;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
}

.dot-91 {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: 25px;
}

.logo2 i {
    font-size: 85px;
    position: absolute;
    top: 60px;
    left: 45px;
    overflow: hidden;
}

.half-circle {
    width: 250px;
    height: 250px;
    background: #f2ff41;
    border-top-left-radius: 73%;
    position: absolute;
    left: 30px;
    top: 11px;
}

.half-circle i {
    position: absolute;
    font-size: 95px;
    top: 75px;
    left: 42px;
    overflow: hidden;
}

.second-half-circle {
    width: 175px;
    height: 165px;
    background: white;
    border-bottom-left-radius: 100%;
    position: absolute;
    left: 31px;
    top: 0px;
}

.second-half-circle i {
    position: absolute;
    font-size: 90px;
    top: 48px;
    left: 60px;
    overflow: hidden;
}

.left-eye {
    width: 45px;
    height: 95px;
    background: var(--color);
    display: block;
    position: absolute;
    left: 40px;
    top: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid black;
}

.right-eye {
    width: 45px;
    height: 95px;
    background: var(--color);
    display: block;
    position: absolute;
    left: 110px;
    top: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid black;
}

.eye-ball-left {
    display: block;
    width: 35px;
    height: 50px;
    background: black;
    position: absolute;
    bottom: 16px;
    border-radius: 100%;
    left: 27px;
    clip-path: polygon(-28.57% 6%, 100% 0%, 274.29% 1%, 343.57% 99%, 149.29% 144%, -41.44% 87.00%, 25.72% 53%);
}

.eye-ball-right {
    display: block;
    width: 35px;
    height: 50px;
    background: black;
    position: absolute;
    bottom: 16px;
    border-radius: 100%;
    left: 27px;
    clip-path: polygon(-28.57% 6%, 100% 0%, 274.29% 1%, 343.57% 99%, 149.29% 144%, -41.44% 87.00%, 25.72% 53%);
}

.eye-line {
    width: 45px;
    height: 1px;
    display: block;
    background: black;
    position: absolute;
    top: 21px;
}

.eye-fill {
    display: block;
    width: 42px;
    height: 21px;
    background-color: #cecdcd;
}

.fa-clock {
    font-size: 130px;
    background: white;
    border-radius: 100%;
}

.d3-box {
    width: 225px;
    height: 225px;
    background-color: #f2ff41;
    position: absolute;
    transform: rotateX(30deg) rotateY(60deg);
    right: 275px;
    top: 62%;
    border-radius: 27px 10px 25px 30px;
    border: 2px solid black;
    z-index: 9;
}

.d3-box2 {
    width: 220px;
    height: 220px;
    background-color: #f2ff41;
    position: absolute;
    transform: rotateX(30deg) rotateY(60deg);
    right: 280px;
    top: 63%;
    border-radius: 27px 10px 25px 30px;
    border: 2px solid black;
    z-index: 10;
}

.d3-circle {
    width: 125px;
    height: 125px;
    background: black;
    position: absolute;
    right: 332px;
    top: 70%;
    z-index: 15;
    transform: rotateX(16deg) rotateY(60deg);
    border: 1px solid black;
    border-radius: 100%;
}

.d3-circle2 {
    width: 125px;
    height: 125px;
    background: #f2ff41;
    position: absolute;
    right: 336px;
    top: 70%;
    z-index: 14;
    transform: rotateX(16deg) rotateY(60deg);
    border: 1px solid black;
    border-radius: 100%;
}

.d3-circle3 {
    width: 125px;
    height: 125px;
    background: black;
    position: absolute;
    right: 483px;
    top: 100%;
    z-index: 15;
    transform: rotateX(-130deg) rotateY(0deg);
    border: 1px solid black;
    border-radius: 100%;
}

.d3-circle4 {
    width: 125px;
    height: 125px;
    background: #f2ff41;
    position: absolute;
    right: 483px;
    top: 99.5%;
    z-index: 14;
    transform: rotateX(-133deg) rotateY(0deg);
    border: 1px solid black;
    border-radius: 100%;
}

.box6 h3 {
    color: white;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 12px;
    left: 6px;
}

.fa-bitcoin {
    position: absolute;
    top: 34px;
    right: 101px;
    font-size: 50px;
    transform: rotateX(57deg) rotateY(13deg);
    overflow: hidden;
}

.bitcoin2 {
    font-size: 35px;
    position: absolute;
    right: -15px;
    top: 62px;
    z-index: 1;
    transform: rotateX(40deg) rotateY(-22deg);
}

.bitcoin3 {
    font-size: 42px;
    position: absolute;
    right: 11px;
    top: 95px;
    z-index: 1;
    transform: rotateX(-42deg) rotateY(-9deg);
    overflow: hidden;
}

.clock {
    position: absolute;
}

.clock i {
    overflow: hidden;
}

.line {
    display: block;
    width: 44px;
    height: 4px;
    background: linear-gradient(yellow, #ffcb00, #caca1f);
    position: absolute;
    right: -20px;
    bottom: 24px;
    border-radius: 4px;
    transform: rotate(35deg);
    z-index: 1;
}

.line2 {
    display: block;
    width: 36px;
    height: 4px;
    background: linear-gradient(yellow, #ffcb00, #caca1f);
    position: absolute;
    right: 50px;
    bottom: 44px;
    border-radius: 4px;
    transform: rotate(-35deg);
    z-index: 1;
}

.emoji1 {
    position: absolute;
    color: white;
    font-size: 35px;
    top: 162px;
    z-index: 2;
    left: 36px;
}

.emoji2 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 100px;
    z-index: 2;
    right: 226px;
}

.emoji3 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 48px;
    z-index: 2;
    right: 71px;
}

.emoji4 {
    position: absolute;
    color: white;
    font-size: 35px;
    bottom: 90px;
    z-index: 15;
    right: 386px;
}

.emoji5 {
    position: absolute;
    color: #000;
    font-size: 35px;
    bottom: 43px;
    z-index: 19;
    right: 451px;
}

.emoji6 {
    position: absolute;
    color: #000;
    font-size: 35px;
    bottom: -10px;
    z-index: 19;
    right: 500px;
}

.emoji7 {
    position: absolute;
    color: #fff;
    font-size: 35px;
    bottom: -85px;
    z-index: 19;
    right: 537px;
}

.tooltip-icon1 img {
    position: absolute;
    bottom: 42px;
    width: 52%;
    right: 100px;
}

.tooltip-icon2 img {
    position: absolute;
    top: 117px;
    width: 65%;
    left: 70px;
}

.tooltip-text {
    position: absolute;
    bottom: 33px;
    font-size: 30px;
    right: 30px;
}

.small-card-container {
    display: flex;
    position: relative;
    left: 70px;
    top: -37px;
}

.small-card1 {
    width: 235px;
    height: 235px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.small-card2 {
    width: 235px;
    height: 235px;
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(194, 194, 194);
    overflow: hidden;
    position: relative;
    left: 20px;
}

.fa-fingerprint {
    overflow: hidden;
    position: relative;
    left: 40px;
}

.fa-circle {
    overflow: hidden;
    position: relative;
    right: 8px;
}

.small-card2 h1 {
    width: 98%;
    position: relative;
    left: 12px;
    top: 40px;
}

.small-card-icon {
    position: relative;
    font-size: 70px;
    top: 65px;
    left: 25px;
}

.small-card-content {
    font-size: 18px;
    position: relative;
    top: 100px;
    left: 20px;
}

.arrow-icon1 {
    font-size: 20px;
    position: relative;
    top: 100px;
    left: 85px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 2px 4px;
}

.arrow-icon1 i {
    margin: -2px 0;
}

.small-card-content2 {
    font-size: 18px;
    position: relative;
    top: 115px;
    left: 20px;
}

.arrow-icon2 {
    font-size: 20px;
    position: relative;
    top: 115px;
    left: 85px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 2px 4px;
    background: black;
    color: white;
}

.arrow-icon2 i {
    margin: -2px 0;
}

.sepration-line {
    width: 90%;
    height: 2px;
    background: black;
    position: relative;
    left: 55px;
}

.sepration-line2 {
    width: 90%;
    height: 2px;
    background: black;
    position: absolute;
    top: 54em;
    left: 55px;
}

.sepration-content1 {
    position: absolute;
    left: 55px;
    top: 34em;
}

.sepration-content2 {
    position: absolute;
    right: 75px;
    top: 34em;
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px 8px;
}

.sepration-icon i {
    position: absolute;
    font-size: 24px;
    top: 34em;
    left: 400px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 2px 8px;
    background: black;
    color: white;
}

.bottom-content {
    width: 53%;
    position: absolute;
    transform: translate(55px, 155%);
}

.bottom-line {
    width: 35%;
    height: 2px;
    background: black;
    position: absolute;
    transform: translate(730px, 123px);
}

.flower-icon {
    font-size: 40px;
    position: absolute;
    right: 70px;
    transform: translate(0, 195%);
}

.flower-icon i {
    overflow: hidden;
}

.option-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}

.option1,
.option2,
.option3,
.option4,
.option5,
.option6,
.option7,
.option8 {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 13px;
}

.option1 {
    position: absolute;
    left: 42px;
    background: black;
    color: white;
    top: 42em;
    transform: rotate(14deg);
}

.option2 {
    position: absolute;
    left: 88px;
    transform: rotate(-6deg);
    top: 42em;
    background-color: white;
}

.option3 {
    position: absolute;
    left: 270px;
    transform: rotate(10deg);
    background: white;
    top: 42em;
}

.option4 {
    position: absolute;
    left: 405px;
    transform: rotate(-6deg);
    top: 42em;
    background-color: white;
}

.option5 {
    position: absolute;
    right: 520px;
    transform: rotate(10deg);
    background: white;
    top: 42em;
}

.option6 {
    position: absolute;
    right: 350px;
    transform: rotate(-6deg);
    top: 42em;
    background: white;
}

.option7 {
    position: absolute;
    right: 180px;
    transform: rotate(10deg);
    background: white;
    top: 42em;
}

.option8 {
    position: absolute;
    right: 66px;
    transform: rotate(-10deg);
    background: white;
    top: 42em;
}

.card-container {
    position: absolute;
    top: 70em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    left: 30px;
}

.card1 {
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.card-head {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 16px;
    position: relative;
    top: 25px;
    left: 30px;
}

.card-icon1 {
    position: absolute;
    left: 28%;
    font-size: 25px;
    background: black;
    color: white;
    border-radius: 100%;
    padding: 6px 8px;
    transform: translate(0, 50%);
}

.card-icon1 i {
    display: flex;
}

.card-img1 img {
    width: 300px;
    position: relative;
    left: 40px;
    top: 50px;
}

.card-content1 {
    font-size: 18px;
    display: block;
    position: relative;
    top: 25px;
    padding: 18px 20px;
}

.card2 {
    width: 400px;
    height: 400px;
    background: #ebf751;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.card-head2 {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 16px;
    position: relative;
    bottom: 206px;
    left: 30px;
}

.card-icon2 {
    position: absolute;
    left: 60%;
    font-size: 25px;
    background: black;
    color: white;
    border-radius: 100%;
    padding: 6px 8px;
    transform: translate(0, 50%);
}

.card-icon2 i {
    display: flex;
}

.card-img2 img {
    width: 180px;
    position: relative;
    right: 95px;
    top: 40px;
}

.card-content2 {
    font-size: 18px;
    display: block;
    position: relative;
    top: 30px;
    padding: 18px 20px;
}

.card3 {
    width: 400px;
    height: 400px;
    background: black;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.card-head3 {
    font-size: 20px;
    border: 1px solid white;
    background: white;
    border-radius: 20px;
    padding: 10px 16px;
    position: relative;
    top: 25px;
    left: 30px;
}

.card-icon3 {
    position: absolute;
    left: 92%;
    font-size: 25px;
    background: white;
    color: black;
    border-radius: 100%;
    padding: 6px 8px;
    transform: translate(0, 50%);
}

.card-icon3 i {
    display: flex;
}

.card-img3 img {
    width: 300px;
    position: relative;
    left: 45px;
    top: 60px;
}

.card-content3 {
    font-size: 18px;
    display: block;
    position: relative;
    top: 102px;
    padding: 18px 20px;
    color: white;
}

.fa-circle-play {
    color: white;
    font-size: 100px;
    overflow: hidden;
    position: absolute;
    top: 102px;
    z-index: 1;
    right: 142px;
}

@media (max-width: 700px) {
    header {
        left: 22px;
    }

    .icons {
        display: none;
    }

    .text span {
        overflow: hidden;
    }

    .single-icon {
        right: 100px;
    }

    nav {
        display: none;
    }

    .logo {
        right: 120px;
    }

    .main h1 {
        font-size: 50px;
        width: 100%;
        font-weight: bold;
        padding: 130px 0 0 58px;
    }

    .content {
        width: 80%;
        padding: 30px 0px 16px 58px;
    }

    .circle-arrow i {
        position: absolute;
        bottom: 225px;
        left: 290px;
        font-size: 55px;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 115px;
        height: 115px;
    }

    .box1 {
        top: 160%;
        right: 243px;
    }

    .box2 {
        top: 160%;
        right: 129px;
    }

    .box3 {
        top: 160%;
        right: 15px;
    }

    .box4 {
        top: 177%;
        right: 243px;
    }

    .box5 {
        top: 177%;
        right: 129px;
    }

    .box6 {
        top: 177%;
        right: 15px;
    }

    .box7 {
        top: 194%;
        right: 244px;
    }

    .box8 {
        top: 194%;
        right: 130px;
    }

    .box9 {
        top: 194%;
        right: 15px;
    }

    .d3-box {
        width: 140px;
        height: 140px;
        right: 139px;
        top: 179%;
    }

    .d3-circle {
        width: 85px;
        height: 85px;
        right: 168px;
        top: 183%;
        transform: rotateX(20deg) rotateY(60deg);
    }

    .d3-circle2 {
        width: 85px;
        height: 85px;
        right: 172px;
        top: 183%;
        transform: rotateX(20deg) rotateY(60deg);
    }

    .d3-box2 {
        width: 132px;
        height: 132px;
        right: 145px;
        top: 180%;
    }

    .d3-circle3 {
        width: 80px;
        height: 80px;
        right: 260px;
        top: 198%;
    }

    .d3-circle4 {
        width: 80px;
        height: 80px;
        right: 260px;
        top: 197.5%;
    }

    .box91 {
        width: 100px;
        height: 100px;
    }

    .half-circle {
        width: 162px;
        height: 162px;
        left: 30px;
        top: 11px;
    }

    .second-half-circle {
        width: 95px;
        height: 115px;
    }

    .small-card-container {
        display: grid;
        position: relative;
        left: 0px;
        top: 10%;
        gap: 20px;
    }

    .small-card1 {
        width: 336px;
        height: 235px;
        position: relative;
        left: 12px;
    }

    .small-card2 {
        width: 336px;
        height: 235px;
        position: relative;
        left: 12px;
    }

    .small-card2 h1 {
        width: 64%;
    }

    .fa-fingerprint {
        font-size: 90px;
    }

    .fa-circle {
        font-size: 90px;
    }

    .small-card-icon {
        position: relative;
        top: 30px;
        left: 30px;
    }

    .small-card-content {
        top: 80px;
    }

    .arrow-icon1 {
        top: 80px;
        left: 175px;
    }

    .arrow-icon2 {
        left: 195px;
    }

    .arrow-icon2 i {
        margin: -4px 0;
    }

    .half-circle i {
        font-size: 50px;
        top: 43px;
        left: 33px;
    }

    .second-half-circle i {
        font-size: 50px;
        top: 27px;
    }

    .logo2 i {
        font-size: 50px;
        top: 42px;
        left: 25px;
    }

    .dot-91 {
        width: 10px;
        height: 10px;
        top: 20px;
        left: 20px;
    }

    .left-eye {
        width: 35px;
        height: 65px;
        left: 20px;
        top: 25px;
    }

    .right-eye {
        width: 35px;
        height: 65px;
        left: 64px;
        top: 26px;
    }

    .eye-ball-left {
        width: 20px;
        height: 30px;
        bottom: 7px;
        left: 18px;
    }

    .eye-ball-right {
        width: 20px;
        height: 30px;
        bottom: 8px;
        left: 18px;
    }

    .fa-clock {
        font-size: 70px
    }

    .box6 h3 {
        font-size: 30px;
    }

    .line {
        width: 25px;
        right: 12px;
        bottom: 16px;
    }

    .line2 {
        width: 25px;
        right: 70px;
        bottom: 14px;
    }

    .fa-bitcoin {
        top: 17px;
        right: 46px;
        font-size: 30px;
        transform: rotateX(40deg) rotateY(13deg);
    }

    .bitcoin2 {
        font-size: 25px;
        right: 3px;
        top: 23px;
    }

    .bitcoin3 {
        font-size: 30px;
        right: 10px;
        top: 80px;
    }

    .emoji1 {
        font-size: 25px;
        top: 85px;
    }

    .emoji2 {
        font-size: 25px;
        bottom: -92%;
        right: 111px;
    }

    .emoji3 {
        font-size: 25px;
        bottom: 25px;
        right: 30px;
    }

    .emoji4 {
        font-size: 25px;
        bottom: -91.5%;
        right: 202px;
    }

    .emoji5 {
        font-size: 25px;
        bottom: -95%;
        right: 244px;
    }

    .emoji6 {
        font-size: 25px;
        bottom: -100%;
        right: 274px;
    }

    .emoji7 {
        font-size: 25px;
        bottom: -106%;
        right: 292px;
    }

    .tooltip-text {
        font-size: 20px;
        bottom: 15px;
        right: 15px;
    }

    .tooltip-icon2 img {
        top: 65px;
        left: 40px;
    }

    .tooltip-icon1 img {
        bottom: 22px;
        right: 57px;
    }

    .sepration-line {
        position: absolute;
        left: 14px;
        top: 90em;
    }

    .sepration-line2 {
        width: 90%;
        top: 94em;
        left: 13px;
    }

    .sepration-content1 {
        left: 14px;
        top: 60.5em;
    }

    .sepration-icon i {
        top: 60.5em;
        left: 130px;
    }

    .sepration-content2 {
        right: 20px;
        top: 76.5em;
        font-size: 19px;
    }

    .bottom-line {
        display: none;
    }

    .bottom-content {
        width: 65%;
        transform: translate(127px, 380%);
    }

    .flower-icon {
        left: 35px;
        transform: translate(0, 13.5em);
    }

    .option4,
    .option5,
    .option6,
    .option7,
    .option8 {
        display: none;
    }

    .option-container {
        font-size: 20px;
    }

    .option1 {
        top: 86em;
        left: 20px;
        transform: rotate(0);
    }

    .option2 {
        top: 86em;
        left: 65px;
        transform: rotate(0);
    }

    .option3 {
        top: 86em;
        left: 222px;
        transform: rotate(0);
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 112em;
        overflow: visible;
        left: 25px;
    }

    .card1 {
        width: 345px;
        height: 345px;
        position: relative;
        right: 13px;
    }

    .card2 {
        width: 345px;
        height: 345px;
        position: relative;
        right: 13px;
    }

    .card3 {
        width: 345px;
        height: 345px;
        position: relative;
        right: 13px;
    }

    .card-icon1 {
        left: 86%;
    }

    .card-icon2 {
        left: 86%;
    }

    .card-icon3 {
        left: 86%;
    }

    .card-img1 img {
        width: 205px;
        left: 70px;
    }

    .card-img2 img {
        width: 150px;
        left: 100px;
    }

    .card-img3 img {
        width: 205px;
        left: 70px;
        top: 65px;
    }

    .card-head2 {
        top: 26px;
    }

    .fa-circle-play {
        top: 90px;
        right: 114px;
    }

    .card-content1 {
        font-size: 16px;
    }

    .card-content2 {
        font-size: 16px;
        bottom: 4px;
    }

    .card-content3 {
        font-size: 16px;
    }
}

@media (min-width: 360px) and (max-width: 915px) {

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 115px;
        height: 115px;
    }

    .box1 {
        top: 160%;
        right: 243px;
    }

    .box2 {
        top: 160%;
        right: 129px;
    }

    .box3 {
        top: 160%;
        right: 15px;
    }

    .box4 {
        top: 177%;
        right: 243px;
    }

    .box5 {
        top: 177%;
        right: 129px;
    }

    .box6 {
        top: 177%;
        right: 15px;
    }

    .box7 {
        top: 194%;
        right: 244px;
    }

    .box8 {
        top: 194%;
        right: 130px;
    }

    .box9 {
        top: 194%;
        right: 15px;
    }

    .d3-box {
        width: 140px;
        height: 140px;
        right: 139px;
        top: 179%;
    }

    .d3-circle {
        width: 85px;
        height: 85px;
        right: 168px;
        top: 183%;
        transform: rotateX(20deg) rotateY(60deg);
    }

    .d3-circle2 {
        width: 85px;
        height: 85px;
        right: 172px;
        top: 183%;
        transform: rotateX(20deg) rotateY(60deg);
    }

    .d3-box2 {
        width: 132px;
        height: 132px;
        right: 145px;
        top: 180%;
    }

    .d3-circle3 {
        width: 80px;
        height: 80px;
        right: 260px;
        top: 198%;
    }

    .d3-circle4 {
        width: 80px;
        height: 80px;
        right: 260px;
        top: 197.5%;
    }

    .box91 {
        width: 100px;
        height: 100px;
    }

    .half-circle {
        width: 162px;
        height: 162px;
        left: 30px;
        top: 11px;
    }

    .second-half-circle {
        width: 95px;
        height: 115px;
    }

}