@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1f1f1f;
    --white-color: white;
    --black-color: black;
    --btn-color: #b3b3b3;
    --background-base-color: #121212;
    --language-container-bgcolor: #282828;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: var(--black-color);
    color: var(--btn-color);
}

.logo {
    width: 4%;
}

nav {
    padding: 10px 20px 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.home-icon {
    background-color: var(--primary-color);
    padding: 10px 10px;
    border-radius: 50%;
    display: flex;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 15px 200px 15px 50px;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
}

.search-icon {
    position: absolute;
    padding: 0 12px;
}

.folder-icon {
    margin: 0 -60px;
    border-left: 1px solid var(--btn-color);
    padding: 0 0px 0px 15px;
}

.signup-btn {
    background-color: transparent;
    color: var(--btn-color);
    font-size: 16px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 30px;
}

.login-btn {
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 16px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 30px;
}

.main-container {
    display: flex;
    gap: 10px;
    padding: 10px 10px;
}

.side-container {
    background-color: var(--background-base-color);
    height: 71vh;
    padding: 15px 15px;
    border-radius: 10px;
}

.side-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.side-head p {
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    left: 65px;
}

.scroll-side-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 25vh;
    overflow-y: scroll;
}

.scroll-side-card {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;
    padding: 15px 20px;
}

.scroll-side-card-head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 15px;
}

.scroll-side-btn {
    font-size: 15px;
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
    padding: 6px 15px;
    font-weight: bold;
    border-radius: 20px;
}


.scroll-side-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.scroll-side-container:hover::-webkit-scrollbar {
    width: 10px;
}

.scroll-side-container:hover::-webkit-scrollbar-thumb {
    background-color: rgb(114, 114, 114);
    border-radius: 4px;
}

.side-footer {
    padding: 40px 0 0;
}

.side-footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    row-gap: 10px;
}

.side-footer ul li {
    list-style: none;
}

.side-footer ul li a {
    text-decoration: none;
    color: var(--btn-color);
    font-size: 12px;
}

.side-footer-cookie {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--white-color);
    padding: 15px 0 35px;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #af2896, #509bf5);
}

.signup-head {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
    padding: 10px 15px;
}

.language-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: 1px solid var(--btn-color);
    color: var(--white-color);
    padding: 5px 14px;
    border-radius: 20px;
}

.signup-btn-container {
    padding: 0 20px;
}

.signup-login-btn {
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
}

.big-container {
    background-color: var(--background-base-color);
    width: 75%;
    height: 71vh;
    border-radius: 10px;
    padding: 15px 15px;
    overflow-y: scroll;
}

.big-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.big-container:hover::-webkit-scrollbar {
    width: 10px;
}

.big-container:hover::-webkit-scrollbar-thumb {
    background-color: rgb(114, 114, 114);
    border-radius: 4px;
}

.language-container {
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-box {
    background-color: var(--language-container-bgcolor);
    width: 80%;
    border-radius: 10px;
    padding: 20px 0;
}

.language-head {
    display: flex;
    flex-direction: column;
    padding: 0 15px 10px;
    gap: 10px;
    border-bottom: 1px solid var(--background-base-color);
}

.translate-language {
    font-weight: 100;
}

.language-scroll-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    padding: 15px 30px;
}

.artist-container{
    display: flex;
}

.artist-head {
    color: var(--white-color);
}

.artist-card img {
    width: 80%;
    border-radius: 50%;
}

.artist-name {
    color: var(--white-color);
    font-weight: 600;
}