.login-button {
    text-decoration: none;
    color: var(--color);
    font-size: 22px;
    border: 2px solid #2f2d2d;
    padding: 2px 25px;
    position: fixed;
    top: 25px;
    font-weight: bold;
    border-radius: 4px;
    right: 15px;
    z-index: 99;
    transition: .5s;
    background-color: var(--black);
    box-shadow: 0px 0px 6px -3px white;
}

.login-button:hover {
    color: var(--black);
    background-color: var(--color);
    border: 2px solid var(--black);
    transform: rotate3d(1, 1, 0, 30deg);
    transition: .3s;
}