@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

:root {
    --default-color: white;
    --dark-color: black;
    --body-color: #24212c;
    --primary-color: #4d4662;
    --btn-color: #969bdb;
    --login-btn-color: #e53637;
}

body {
    background-color: var(--body-color);
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 25px 40px;
    display: flex;
    overflow: visible;
}

nav ul {
    display: flex;
    justify-content: start;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--default-color);
    font-size: 20px;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--default-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

nav ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.logo {
    display: flex;
    align-items: center;
    padding: 0px 230px 0 0;
}

.logo img {
    width: 15%;
    position: absolute;
}

.logo a {
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    right: 50px;
}

.search-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    color: var(--default-color);
    transform: scale(0);
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    z-index: -1;
}

.search-box.open {
    transform: scale(1);
    opacity: 1;
    z-index: 1000;
}

.search-box input {
    width: 80%;
    max-width: 600px;
    padding: 15px;
    font-size: 18px;
    border: none;
    outline: none;
    background: var(--body-color);
    color: var(--default-color);
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.cancel-button {
    display: none;
}

.search-box.open .cancel-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.responsive-nav {
    display: none;
}

/* responsive nav bar */
@media (max-width: 700px) {
    .responsive-nav {
        display: block;
    }

    .hide-in-mobile {
        display: none;
    }

    .nav-toggle {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--body-color);
        cursor: pointer;
        z-index: 999;
    }

    .nav-toggle span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 2px;
        background: #f5f5f5;
        transition: all 300ms ease-in-out;
    }

    .nav-toggle span:nth-child(1) {
        top: 30%;
    }

    .nav-toggle span:nth-child(3) {
        top: 70%;
    }

    body.activeNav .nav-toggle span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    body.activeNav .nav-toggle span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    body.activeNav .nav-toggle span:nth-child(2) {
        display: none;
    }

    .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 101;
        overflow: hidden;
        border-radius: 0 0 0 100%;
        transition: width 300ms ease-in-out 200ms,
            height 300ms ease-in-out 200ms,
            border-radius 300ms ease-in-out 0ms;
    }

    .nav-overlay {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: var(--login-btn-color);
        border-radius: 0 0 0 100%;
        transition: width 300ms ease-in-out 230ms,
            height 300ms ease-in-out 230ms,
            border-radius 300ms ease-in-out 30ms;
        z-index: 100;
    }

    body.activeNav .nav-overlay {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        transition: width 500ms ease-in-out,
            height 500ms ease-in-out,
            border-radius 300ms ease-in-out 300ms;
    }

    body.activeNav .nav {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        transition: width 500ms ease-in-out 30ms,
            height 500ms ease-in-out 30ms,
            border-radius 300ms ease-in-out 330ms;
    }

    .nav .links .link {
        position: relative;
        margin: 20px;
        font-size: 45px;
        text-align: center;
        left: -300%;
    }

    .nav .links .link a {
        text-decoration: none;
        /* text-transform: uppercase; */
        color: var(--default-color);
        font-weight: 600;
        transition: all 300ms ease-in-out;
        position: relative;
    }

    .nav .links .link a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--default-color);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    .nav .links .link a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    body.activeNav .nav .links .link {
        left: 0;
    }

    body.activeNav .nav .links>div:nth-child(1) {
        transition: left 300ms ease-in-out 650ms;
    }

    body.activeNav .nav .links>div:nth-child(2) {
        transition: left 300ms ease-in-out 680ms;
    }

    body.activeNav .nav .links>div:nth-child(3) {
        transition: left 300ms ease-in-out 710ms;
    }

    body.activeNav .nav .links>div:nth-child(4) {
        transition: left 300ms ease-in-out 740ms;
    }

    body.activeNav .nav .links>div:nth-child(5) {
        transition: left 300ms ease-in-out 770ms;
    }

    .logo img {
        width: 45%;
    }
}

.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: var(--default-color);
    text-shadow: 0 5px 10px var(--body-color);
}

.slider .list .item .content .title,
.slider .list .item .content .type {
    font-size: 46px;
    font-weight: bold;
}

.slider .list .item .type {
    color: var(--default-color);
}

.description {
    font-size: 14px;
    color: var(--default-color);
    z-index: 9;
}

.slider .list .item .button .button {
    margin-top: 20px;
}

.slider .list .item .button button {
    border: none;
    background-color: var(--btn-color);
    padding: 7px 15px;
    font-weight: 800;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 4px;
    transition: 0.4s;
}

.slider .list .item .button button:hover {
    background-color: #7379d5;
    color: var(--default-color);
}

.slider .list .item .button button:nth-child(2) {
    background-color: transparent;
    border: 1px solid var(--default-color);
    color: var(--default-color);
}

.thumbnail {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 90;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.nextPrevArrows {
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 9;
}

.nextPrevArrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--btn-color);
    color: var(--dark-color);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
}

.nextPrevArrows button:hover {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

.item:nth-child(1) {
    z-index: 1;
}

.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item:nth-child(1) .content .title {
    animation-delay: 0.4s;
}

.slider .list .item:nth-child(1) .content .type {
    animation-delay: 0.6s;
}

.slider .list .item:nth-child(1) .content .description {
    animation-delay: 0.8s;
    padding: 10px 0 25px;
}

.slider .list .item:nth-child(1) .content .buttons {
    animation-delay: 1s;
}


/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img {
    z-index: 100;
}


@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .slider .list .item .content {
        padding-right: 0;
        top: 70px;
        overflow: hidden;
    }

    .slider .list .item .content .title {
        font-size: 38px;
    }

    .slider .list .item .content .type {
        font-size: 38px;
    }

    .description {
        font-size: 13px;
        color: var(--dark-colorcd);
    }
}

.trending-container {
    padding: 60px 60px 0;
    width: 60%;
}

.trending-head {
    color: var(--default-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trending-head::before {
    content: '';
    background: var(--btn-color);
    height: 40px;
    width: 4px;
    position: absolute;
}

.trending-head h1 {
    padding: 0 15px;
}

.trending-head span a {
    text-decoration: none;
    color: var(--default-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.trending-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 0;
    gap: 20px;
}

.trending-img {
    object-fit: cover;
    height: 325px;
    width: 240px;
    border-radius: 6px;
    overflow: hidden;
}

.trending-title {
    color: var(--default-color);
    font-size: 20px;
    padding: 20px 12px;
}

.watch-time {
    color: var(--default-color);
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: var(--primary-color);
    width: 30%;
    padding: 5px 4px;
    border-radius: 6px;
    position: relative;
    bottom: 40px;
    right: 20px;
}

.trending-box {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.view-container {
    width: 30%;
    padding: 60px 0;
}

.view-head {
    color: var(--default-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 45px;
}

.view-head::before {
    content: '';
    background: var(--btn-color);
    height: 40px;
    width: 4px;
    position: absolute;
}

.view-head h1 {
    padding: 0 15px;
    font-size: 25px;
}

.main-container {
    display: flex;
}

.view-box {
    width: 95%;
    height: 240px;
    overflow: hidden;
}

.view-content {
    padding: 15px 0 0;
}

.view-img {
    width: 95%;
    height: 240px;
    border-radius: 6px;
}

.watch-time2 {
    width: 26%;
    padding: 5px 0px;
    bottom: 230px;
    left: 260px;
}

.view-title {
    color: var(--default-color);
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    margin: -75px 6px;
    width: 27%;
}

.filter {
    padding: 0 25px;
}

.filter-btn {
    font-size: 14px;
    border: transparent;
    background: transparent;
    color: var(--default-color);
    padding: 0 5px;
    cursor: pointer;
}

.latest-container {
    padding: 60px 60px;
    width: 60%;
}

.latest-head {
    color: var(--default-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest-head::before {
    content: '';
    background: var(--btn-color);
    height: 40px;
    width: 4px;
    position: absolute;
}

.latest-head h1 {
    padding: 0 15px;
}

.latest-head span a {
    text-decoration: none;
    color: var(--default-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.latest-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 0;
    gap: 20px;
}

.latest-img {
    object-fit: cover;
    height: 325px;
    width: 240px;
    border-radius: 6px;
    overflow: hidden;
}

.latest-title {
    color: var(--default-color);
    font-size: 20px;
    padding: 20px 12px;
}

.latest-box {
    display: flex;
    flex-direction: column;
    align-items: end;
}

footer {
    background-color: var(--primary-color);
    padding: 70px 0 70px;
    overflow: visible;
}

.page-up {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 90px;
}

.page-up span {
    background-color: var(--login-btn-color);
    border-radius: 50%;
    padding: 1px 4px;
}

.footer-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-row ul {
    display: flex;
    gap: 30px;
}

.footer-row ul li {
    list-style: none;
}

.footer-row ul li a {
    text-decoration: none;
    color: var(--default-color);
    font-size: 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    padding: 0px 230px 0 0;
}

.footer-logo img {
    width: 15%;
    position: absolute;
}

.footer-logo a {
    display: flex;
    align-items: center;
}

.copy-right {
    color: var(--default-color);
}

.blog-container {
    padding: 70px 90px;
    display: flex;
    gap: 10px;
}

.blog-head {
    height: 355px;
    overflow: hidden;
}

.blog-head img {
    width: 100%;
    z-index: -1;
    position: relative;
    opacity: 0.5;
}

.blog-title {
    color: var(--default-color);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    margin: 0 auto;
}

.blog-row-wrapper {
    display: grid;
    gap: 10px;
}

.blog-column-wrapper {
    display: grid;
    gap: 10px;
}

.blog-title h1 {
    font-size: 48px;
}

.blog-title span {
    font-size: 24px;
}

.blog-row {
    display: grid;
    gap: 10px;
    width: 580px;
}

.small-blog-img {
    width: 285px;
    height: 285px;
    overflow: hidden;
}

.small-blog-img img {
    width: 285px;
    height: 285px;
    object-fit: cover;
}

.small-blog-img-wrapper {
    width: 600px;
    display: flex;
    gap: 10px;
}

.blog-column {
    display: flex;
    gap: 10px;
    width: 580px;
    flex-direction: column-reverse;
}

.big-blog-img {
    width: 580px;
    height: 580px;
    overflow: hidden;
}

.big-blog-img img {
    width: 580px;
    height: 580px;
    object-fit: cover;
}

@media (max-width: 700px) {
    .trending-container {
        padding: 60px 20px 0px;
        width: 100%;
    }

    .main-container {
        flex-wrap: wrap;
    }

    .view-head {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        padding: 0 0 30px;
    }

    .view-head h1 {
        font-size: 19px;
    }

    .view-head::before {
        height: 35px;
    }

    .view-container {
        width: 100%;
        padding: 45px 20px 20px;
    }

    .view-title {
        margin: -100px 6px;
        width: 85%;
    }

    .view-img {
        width: 100%;
    }

    .view-box {
        width: 100%;
    }

    .filter {
        padding: 0 4px;
        display: flex;
        position: absolute;
        right: 10px;
    }

    .filter-btn {
        padding: 0 4px;
        overflow: visible;
        font-size: 15px;
    }

    .trending-head {
        display: block;
    }

    .trending-head span a {
        font-size: 16px;
        padding: 30px 0 0;
    }

    .trending-content {
        grid-template-columns: 1fr;
        padding: 25px 0;
    }

    .trending-img {
        width: auto;
    }

    .trending-box {
        align-items: normal;
    }

    .trending-title {
        padding: 0 0 10px;
        font-size: 17px;
    }

    .watch-time {
        left: 200px;
    }

    .latest-container {
        padding: 50px 20px 60px;
        width: auto;
    }

    .latest-head {
        display: grid;
        align-items: normal;
    }

    .latest-head span a {
        font-size: 16px;
        padding: 30px 0 0;
    }

    .latest-content {
        grid-template-columns: 1fr;
        padding: 25px 0;
    }

    .latest-img {
        width: auto;
    }

    .latest-box {
        align-items: normal;
    }

    .latest-title {
        padding: 0 0 10px;
        font-size: 17px;
    }

    .footer-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-row ul {
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        right: 15px;
    }

    .footer-row ul li a {
        font-size: 16px;
        font-weight: 700;
    }

    .footer-logo {
        padding: 0;
    }

    .footer-logo img {
        width: 40%;
    }

    .copy-right {
        width: 200%;
        text-align: center;
        padding: 40px 0 0;
    }
}