.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: none;
    border: none;
}

.dark-mode {
    background-color: #0e0e11;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}