@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaina+2:wght@600&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Matemasie&family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stylish&display=swap');

* {
    font-family: "Stylish", serif;
}

:root {
    --color: white;
    --black: black;
}

ul {
    display: flex;
    justify-content: end;
    gap: 4em;
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
}

nav ul li {
    list-style: none;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    width: 90vw;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
}

.sidebar li {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: end;
    position: relative;
    right: 25px;
}

.sidebar a {
    width: 100%;
}

.menu-btn {
    display: none;
}