@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

::selection {
    background-color: var(--primary-color);
    color: var(--default-color);
}

:root {
    --primary-color: #d6d843;
    --secondary-color: #be1d2d;
    --tertiary-color: #246aa6;
    --default-color: white;
    --black-color: black;
    --body-color: #24212c;
    --bento-color: #37343d;

}

body {
    background-color: var(--body-color);
}

/* navbar */

nav {
    padding: 28px 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
    padding: 0 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--default-color);
    font-size: 16px;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

nav ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.hide-on-bigscreen {
    display: none;
}

/* responsive nav bar */
@media (max-width: 700px) {
    .hide-on-mobile {
        display: none;
    }

    .nav-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #111;
        cursor: pointer;
        z-index: 999;
    }

    .nav-toggle span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 22px;
        height: 2px;
        background: #f5f5f5;
        transition: all 300ms ease-in-out;
    }

    .nav-toggle span:nth-child(1) {
        top: 30%;
    }

    .nav-toggle span:nth-child(3) {
        top: 70%;
    }

    body.activeNav .nav-toggle span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    body.activeNav .nav-toggle span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    body.activeNav .nav-toggle span:nth-child(2) {
        display: none;
    }

    .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: #111;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        overflow: hidden;
        border-radius: 0 0 0 100%;
        transition: width 300ms ease-in-out 200ms,
            height 300ms ease-in-out 200ms,
            border-radius 300ms ease-in-out 0ms;
    }

    .nav-overlay {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: var(--primary-color);
        border-radius: 0 0 0 100%;
        transition: width 300ms ease-in-out 230ms,
            height 300ms ease-in-out 230ms,
            border-radius 300ms ease-in-out 30ms;
    }

    body.activeNav .nav-overlay {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        transition: width 500ms ease-in-out,
            height 500ms ease-in-out,
            border-radius 300ms ease-in-out 300ms;
    }

    body.activeNav .nav {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        transition: width 500ms ease-in-out 30ms,
            height 500ms ease-in-out 30ms,
            border-radius 300ms ease-in-out 330ms;
    }

    .nav .links .link {
        position: relative;
        margin: 20px;
        font-size: 45px;
        text-align: center;
        left: -300%;
    }

    .nav .links .link a {
        text-decoration: none;
        /* text-transform: uppercase; */
        color: #aaa;
        font-weight: 600;
        transition: all 300ms ease-in-out;
        position: relative;
    }

    .link a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--primary-color);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    .link a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    body.activeNav .nav .links .link {
        left: 0;
    }

    body.activeNav .nav .links>div:nth-child(1) {
        transition: left 300ms ease-in-out 650ms;
    }

    body.activeNav .nav .links>div:nth-child(2) {
        transition: left 300ms ease-in-out 680ms;
    }

    body.activeNav .nav .links>div:nth-child(3) {
        transition: left 300ms ease-in-out 710ms;
    }

    body.activeNav .nav .links>div:nth-child(4) {
        transition: left 300ms ease-in-out 740ms;
    }

    body.activeNav .nav .links>div:nth-child(5) {
        transition: left 300ms ease-in-out 770ms;
    }
}

.logo img {
    width: 10%;
    position: absolute;
    transform: translate(20px, -15px);
}

.head {
    padding: 80px 50px;
    width: 50%;
    display: grid;
    gap: 40px;
    color: var(--default-color);
    position: absolute;
}

.head-card {
    display: flex;
    justify-content: end;
    padding: 80px 100px;
}

.card-head1 {
    width: 350px;
    height: 234px;
    background: var(--primary-color);
    border-radius: 15px;
    position: absolute;
    border: 1px solid var(--primary-color);
}

.card-head2 {
    z-index: 9;
    position: relative;
    left: 40px;
    top: 40px;
    overflow: visible;
}

.card-head2 img {
    border-radius: 15px;
    border: 4px solid var(--primary-color);
}

.project-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--default-color);
    border: 3px solid var(--primary-color);
    width: 45%;
    border-radius: 15px;
    background-color: var(--body-color);
    position: absolute;
    right: 25px;
    bottom: -25px;
}

.btn-container {
    padding: 20px 50px;
}

.btn {
    z-index: 90;
    position: relative;
    padding: 5px 10px;
    font-size: 16px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-weight: 600;
}

.btn2 {
    background-color: transparent;
}

.btn a {
    text-decoration: none;
    color: var(--black-color);
}

.btn2 a {
    color: var(--default-color);
}

.btn-container li {
    color: var(--default-color);
    padding: 20px 0;
    overflow: visible;
    list-style-type: circle;
}

.image-container {
    padding: 50px 50px;
}

.image-container img {
    border-radius: 15px;
    padding: 8px 8px;
}

.image-title {
    color: var(--default-color);
    width: 45%;
    position: absolute;
    right: 80px;
    display: grid;
    gap: 15px;
}

.facilitie-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
}

.facilitie-container h3 {
    padding: 5px 0 10px;
}

.award-container {
    color: var(--default-color);
    display: flex;
    gap: 30%;
    padding: 15px 13px;
    text-align: center;
}

.service-head {
    color: var(--default-color);
    padding: 40px 55px;
}

.service-head h1::before {
    position: absolute;
    content: '';
    width: 5%;
    height: 6px;
    background: var(--tertiary-color);
    margin: -20px 0;
}

.btn3 {
    background: transparent;
    border: none;
}

.btn3 a {
    color: var(--primary-color);
}

.service-content {
    color: var(--default-color);
}

.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 70px;
    gap: 70px;
    text-align: center;
}

.service-content p {
    padding: 15px 0;
}

.image-box1 img:nth-child(1) {
    width: 20%
}

.image-box1 img:nth-child(2) {
    width: 16%
}

.image-box2 img:nth-child(1) {
    width: 25%;
}

.image-box2 img:nth-child(2) {
    width: 18%;
}

.featured-head {
    color: var(--default-color);
    padding: 50px 50px;
    display: grid;
    gap: 16px;
}

.featured-head::before {
    position: absolute;
    content: '';
    width: 5%;
    height: 6px;
    background: var(--tertiary-color);
    margin: -20px 0;
}

.bento-container {
    display: grid;
    grid-template-areas: "main-bento side-bento"
        "bottom-bento bottom-bento"
        "end-bento end-bento";
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 50px 180px;
}

.main-bento {
    grid-area: main-bento;
    background-color: var(--bento-color);
    width: 100%;
    height: 250px;
}

.featured-img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.featured-img4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-img5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-img6 {
    width: 120%;
    object-fit: fill;
}

.side-bento {
    grid-area: side-bento;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-bento .bento-box {
    background-color: var(--bento-color);
    width: 25%;
    height: 570px;
    position: absolute;
}

.bento-box,
.main-bento {
    border-radius: 30px;
    overflow: hidden;
}

.bottom-bento {
    grid-area: bottom-bento;
    display: flex;
    gap: 20px;
}

.bottom-bento .bento-box {
    background-color: var(--bento-color);
    width: 24%;
    height: 300px;
}

.end-bento {
    grid-area: end-bento;
    display: flex;
    gap: 20px;
}

.end-bento .bento-box {
    background-color: var(--bento-color);
    width: 38.5%;
    height: 300px;
}

.team-head {
    color: var(--default-color);
    padding: 50px 50px;
    display: grid;
    gap: 16px;
}

.team-head::before {
    position: absolute;
    content: '';
    width: 5%;
    height: 6px;
    background: var(--tertiary-color);
    margin: -20px 0;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--default-color);
}

.team-members {
    margin: 25px 25px;
    text-align: center;
}

.team-members img {
    border: 2px solid var(--bento-color);
    width: 40%;
    border-radius: 20px;
}

.construction-container {
    padding: 70px 0;
}

.construction-head {
    color: var(--default-color);
    padding: 50px 50px;
    display: grid;
    gap: 10px;
}

.construction-head::before {
    position: absolute;
    content: '';
    width: 5%;
    height: 6px;
    background: var(--tertiary-color);
    margin: -20px 0;
}

.construction-btn {
    display: flex;
    gap: 20px;
    padding: 0 50px;
}

.construction-btn .btn2 a {
    color: var(--default-color);
}

.footer {
    background-color: var(--bento-color);
    margin: 80px 0 0;
    padding: 45px 0 0;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    padding: 50px 50px;
}

.footer-col h4 {
    position: relative;
    left: 0;
    font-size: 18px;
    color: var(--default-color);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 700;
    position: relative;
    overflow: visible;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--secondary-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--default-color);
    text-decoration: none;
    font-weight: 600;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--tertiary-color);
    padding-left: 8px;
}

.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--body-color);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--default-color);
    transition: all 0.5s ease;
    position: relative;
    left: 3px;
}

.footer-col .social-link a:hover {
    color: var(--tertiary-color);
    background-color: var(--default-color);
}

.copy-right {
    display: flex;
    justify-content: end;
    padding: 0 60px;
    position: relative;
    bottom: 15px;
    color: var(--default-color);
}

.footer-logo {
    padding: 0 0 10px;
}

.footer-logo img {
    width: 50%;
}

.footer-col2 {
    width: 34%;
    color: var(--default-color);
}

/* responsive */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        padding: 15px 50px 0;
    }

    .copy-right {
        padding: 0 10px;
        bottom: 0;
        text-align: center;
    }
}

.project-head {
    color: var(--default-color);
    padding: 100px 50px 50px;
}

.project-head::before {
    position: absolute;
    content: '';
    width: 5%;
    height: 6px;
    background: var(--tertiary-color);
    margin: -20px 0;
}

.contact-head {
    color: var(--default-color);
    padding: 100px 50px 10px;
}

.contact-head::before {
    position: absolute;
    content: '';
    width: 5%;
    height: 6px;
    background: var(--tertiary-color);
    margin: -20px 0;
}

.contact-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
    gap: 80px;
}

.call-info {
    color: var(--default-color);
}

.call-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 20px;
}

.call-info ul {
    padding: 0 40px;
}

.location-info {
    color: var(--default-color);
}

.location-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 10px;
}

.location-info ul {
    padding: 0 40px;
}

.email-info {
    color: var(--default-color);
}

.email-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 10px;
}

.email-info ul {
    padding: 0 40px;
}

.working-time-info {
    color: var(--default-color);
}

.working-time-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 10px;
}

.working-time-info ul {
    padding: 0 40px;
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media (max-width: 700px) {
    main {
        overflow: visible;
    }

    .content {
        overflow: visible;
    }

    .card-head1 {
        width: 300px;
        height: 200px;
    }

    .card-head2 img {
        width: 300px;
        height: 200px;
    }

    .head-card {
        padding: 15px 50px 80px;
    }

    .head {
        padding: 66px 15px 20px;
        width: 95%;
        gap: 25px;
        position: relative;
        overflow: visible;
    }

    .head h1 {
        font-size: 20px;
    }

    .head span {
        font-size: 15px;
        position: absolute;
        top: 270%;
        padding: 80px 25px;
        text-align: center;
    }

    .btn-container {
        padding: 40px 40px 140px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        position: relative;
        top: 140px;
    }

    .btn {
        padding: 12px 10px;
        font-size: 12px;
    }

    .btn-container li {
        padding: 35px 0 0;
        margin: 0 -65px;
        position: relative;
        left: 70px;
    }

    .image-container {
        padding: 50px 35px;
    }

    .image-box1 img:nth-child(1) {
        width: 44%
    }

    .image-box1 img:nth-child(2) {
        width: 39%
    }

    .image-box2 img:nth-child(1) {
        width: 40%;
    }

    .image-box2 img:nth-child(2) {
        width: 45%;
    }

    .image-title {
        position: relative;
        right: 0;
        width: auto;
    }

    .facilitie-container {
        padding: 50px 0;
    }

    .service-head h1::before {
        width: 12%;
    }

    .service-head {
        display: grid;
        gap: 10px;
    }

    .service-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .featured-head {
        padding: 50px 35px;
    }

    .featured-head::before {
        width: 15%;
    }

    .main-bento {
        width: 95%;
    }

    .bento-container {
        padding: 40px 8px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .side-bento .bento-box {
        position: relative;
        width: 95%;
        height: 250px;
    }

    .bottom-bento .bento-box {
        background-color: var(--bento-color);
        width: 95%;
        height: 200px;
    }

    .bottom-bento {
        flex-wrap: wrap;
    }

    .end-bento {
        flex-wrap: wrap;
    }

    .end-bento .bento-box {
        width: 95%;
    }

    .team-head::before {
        width: 15%;
    }

    .construction-head::before {
        width: 15%;
    }

    .featured-img6 {
        width: 160%;
    }

    .project-head {
        padding: 50px 30px;
    }

    .project-head::before {
        width: 15%;
    }

    .contact-head::before {
        width: 15%;
    }

    .contact-info-container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 50px 50px;
    }

    .call-info ul {
        text-align: start;
    }
}