nav {
    position: fixed;
    inset: auto 0 0 0;
    border-bottom: 20px solid black;
    width: min(500px, 100%);
    --w-h-item: 60px;
    --position-x-active: 170px;
}

nav ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, var(--w-h-item));
    grid-template-rows: var(--w-h-item);
    justify-content: space-between;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: .5s;
    color: rgb(235, 42, 42);
}

nav ul li.active {
    transform: translateY(-10px);
}

nav .effect {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: calc(var(--w-h-item) + 10px);
    z-index: -1;
    overflow: hidden;
}

nav .effect::before{
    position: absolute;
    left: 0;
    bottom: 0;
    height: var(--w-h-item);
    width: calc(var(--position-x-active) - 10px);
    background-color: rgb(0, 0, 0);
    content: "";
    border-top-right-radius: 30px;
    transition: .5s;
}

nav .effect::after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    height: var(--w-h-item);
    width: calc(100% - var(--position-x-active) - var(--w-h-item) - 10px);
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 30px;
    transition: .5s;
}

nav .effect .circle{
    position: absolute;
    width: var(--w-h-item);
    height: var(--w-h-item);
    background-color: black;
    left: var(--position-x-active);
    border-radius: 50%;
    box-shadow: 0 20px 20px gray;
    transition: .5s;
}

nav .effect .circle::before{
    position: absolute;
    left: -10px;
    right: -10px;
    content: '';
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 50px 0 30px black;
    bottom: -10px;
    transition: .5s;
}